.tododiv {
  text-align: center;
  margin-top: 50px;
  width: 90%; /* Ajuster la largeur pour les petits écrans */
  max-width: 700px; /* Ajouter une largeur maximale pour les grands écrans */
  margin: 0 auto; /* Centrer horizontalement */
  padding: 20px;
  border: 2px solid #8B008B;
  border-radius: 15px;
  background-color: #f4f4f4;
  box-shadow: 5px 5px 5px #888888;
}

.ajouter-forme {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.forme-input {
  width: 100%; /* Ajuster la largeur pour remplir le conteneur parent */
  max-width: 300px; /* Ajouter une largeur maximale pour les grands écrans */
  height: 50px;
  padding: 5px;
  margin-bottom: 10px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 20px;
}

.btn-hover {
  width: 100%; /* Ajuster la largeur pour remplir le conteneur parent */
  max-width: 166px; /* Ajouter une largeur maximale pour les grands écrans */
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin: 20px;
  height: 32px;
  text-align: center;
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
  transition: all 0.4s ease-in-out;
}
.btn-hover:hover {
  background-position: 90% 0;
  transition: all .4s ease-in-out;
}

.btn-hover:focus {
  outline: none;
}

.btn-hover.color-8 {
  background-image: linear-gradient(to right, #29323c, #485563, #2b5876, #4e4376);
  box-shadow: 0 4px 15px 0 rgba(45, 54, 65, 0.75);
}

.lista {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.item-description {
  width: 200px; 
  flex-grow: 1;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.item-button {
  background-color: #fff;
  border: none;
  cursor: pointer;
  margin-right: 5px;
}

@media (max-width: 768px) {
  .tododiv {
    margin-left: 20px; 
    margin-right: 20px; 
  }
}
