#toggle-btn {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 60px;
    height: 30px;
    background-color: #ccc;
    position: relative;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
 
  